

.container{
  width : 100%;
  margin: 0px auto;
  background: white;
}

#image{
  width: 100%;
  height: 300px;
}

.left-column{
  width: 50%;
  float:left;
  background: blue;

}

.right-column{
  width: 50%;
  float: left;
  background: orange;
}
/* img {
  width: 100%;
} */

/* 
@media screen and (max-width:959px){ 

  .container{
    width : 100%;

  }

  .left-column{
    width: 50%;
   
  
  }

  .right-column{
    width: 50%;
   
  }

  img {
    width: 100%;
  }


}




@media screen and (max-width:640px){ 


  .left-column{
    width: 100%;
   
  
  }

  .right-column{
    width: 100%;
   
  }
}


@media screen and (max-width:640px){
  .container{
    width: 320px;
  }
} */





/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #eff3f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
